<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobadi">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".kayit_ol"></activity>
        <activity android:name=".listeleme.Kategori_Sec_Ekle" />
        <activity android:name=".Giris_yap" />
        <activity android:name=".listeleme.SilMasaListele" />
        <activity android:name=".listeleme.Siparis_list" />
        <activity android:name=".listeleme.Masalistele" />
        <activity android:name=".listeleme.Urun_list" />
        <activity android:name=".listeleme.Kategori_list" />
        <activity android:name=".Masaekle" />
        <activity android:name=".UrunEkle" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Anasayfa" />
    </application>

</manifest>